html,body,div,ul,li{font-family: "微软雅黑",'microsoft yahei'; font-size: 14px; line-height: 16px; }
body{background: #f5f5f5;}
li,ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
p{
	margin: 0;
}
a:active,a:focus{
	opacity: 1 !important;
}
.bgff{
	background: #FFF !important;
}
html,body{
	cursor: pointer;
}
html.un-scroll,html.un-scroll body{
	overflow: hidden;
	position: relative;
	height: 100%;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
 /* -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;*/
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  font-size: 2em;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "iconfont";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.icon-phone:before{content:"\e600";}
.icon-zan:before{content: "\e61e";}
.cancel-on-png:before { content: "\e600"; }
.cancel-off-png:before { content: "\e601"; }
.star-on-png:before { content: "\e60a"; }
.star-off-png:before { content: "\e609"; }
.star-half-png:before { content: "\e60a"; }


.clear:after{
	content: "";
	display: block;
	clear: both;
}
.mt0{
	margin-top:0px !important;
}
.bordert{
	border-top: 1px solid #f4f4f4 !important;
}
.header{
	height: 44px;
	box-shadow: none;
	background: #004b92;
	z-index: 1000;
	/*position: absolute;*/
}
.header.iosHeader{
	padding-top: 18px;
	height: 62px;
}

.header .logo img {
    height: 43px;
    margin-top: 4px;
    background: #FFF;
}
.header.mui-bar .mui-title{
	height: 44px;
	line-height: 44px;
	color: #fff;
	font-size: 18px;
}
.header .mui-icon{
	color: #FFF;
	/*padding-top: 15px;*/
	cursor: pointer;
}
.header .child-title{
	text-align: left;
	font-size: 15px ;
	color: #383838;
	font-family: "微软雅黑";
	margin-left: -8px;
	padding-top: 5px;
	display: inline-block;
	vertical-align: middle;
}
.header .more-menu{
	padding-top: 18px;
}
.header .more-menu span{
	display: block;
	width: 22px;
	height: 2px;
	background: #FFF;
	margin-bottom: 5px;
}

.mui-bar{
	width: 100%;
	max-width: 600px;
	left: 50%;
	 -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) ;
    -o-transform: translateX(-50%) ;
    -ms-transform: translateX(-50%) ;
    transform: translateX(-50%);
}


/**内容区域css**/
.mui-bar-nav~.mui-content{
	max-width: 600px;
	margin: 0 auto;
	padding: 44px 0;
	overflow: hidden;
	background: #f5f5f5;
}
.mui-content{
	max-width: 600px;
	margin: 0 auto;
	padding: 44px 0;
	overflow: hidden;
	background: #f5f5f5;
}
.child-content{
	padding: 0px;
}
.mui-bar-nav~.child-content{
	padding-bottom: 0px;

}

/*banner*/
/**banner 焦点**/
.banner-indicator{
	bottom: 0px;
}
.banner-indicator .mui-indicator{
	height: 10px;
	width: 10px;
	border: 1px solid transparent;
	box-shadow: none;
	margin: 1px 1px;
	background-color: rgba(255,255,255,.6);
}
.banner-indicator .mui-active.mui-indicator{
	background: rgba(255,255,255,1);
}
.banner img{
	width: 100%;
}
/*搜索 css*/
.con-search{
	padding: 10px 15px;
	background: #FFF;
	margin-top: 20px;
}
.con-search-main{
	width: 100%;
	height: 35px;
	padding:0 15px;
	border-radius: 30px;
	border: 1px solid #e5e5e5;
}
.con-earch-main a{
	display: block;
}
.con-search-main input[type=search]{
	background: none;
	margin-bottom: 0px;
	/*margin-top: 3px;*/
	padding:10px 0 10px 35px;
	font-size: 15px;

}
.con-search-main .mui-search .mui-placeholder{
	/*top: 3px;*/
	font-size: 15px;

}

.con-search-main .mui-search:before{
	margin-top: -10px;
}

/*搜索 css end*/
/**弹性box start**/
.fixed-box {
	bottom: 0;
	display: table;
	width: 100%;
	padding: 0;
	table-layout: fixed;
	border-top: 0;
	border-bottom: 0;
	-webkit-touch-callout: none
}
.fixed-box li{
	display: table-cell;
	width: 1%;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/**弹性box start**/
.two-box li{
	width: 50%;
}


.pop-layer{
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 9999;
	display: none;

}
.more-popover{
	position: fixed;
	bottom: 0px;
	width: 100%;
	overflow: hidden;
	background: #f2f2f7;
	max-width: 600px;
	left: 50%;
	 -webkit-transform:  translateX(-50%);
    -moz-transform:  translateX(-50%);
    -o-transform:  translateX(-50%);
    -ms-transform:  translateX(-50%);
    transform:  translateX(-50%);
    display: none;
    z-index: 99999;
}

.popover-title{
	font-size: 17px;
	text-align: center;
	padding: 15px 0;
}
.pop-btn{
	background: #f2f2f7;
	padding: 15px;
}
.pop-btn .btn-box{
	border: 1px solid #e6e6e6;
	border-radius: 50px;
	background: #FFF;
	overflow: hidden;
}
.pop-btn .btn-box a{
	display: block;
	float: left;
	width: 50%;
	box-sizing: border-box;
	border-right: 1px solid #e6e6e6;
	text-align: center;
	color: #666;
	padding: 10px 0;
	font-size: 15px;
	overflow: auto;
}
.btn-box a:active{
	opacity: 0.8  !important;
	background: rgba(0,0,0,0.05);
}
.pop-btn .btn-box a:last-child{
	color: #FA4F4F;
	border: 0px;
}

.body{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-bottom: 50px;
}

.layer{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 6;
}



.thrtabsId-fix{
	position: fixed;
	top: 44px;
	right: 0px;
	width: 100%;
	z-index: 999;
	max-width: 600px;
	left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mui-scroll-wrapper{
	left: 50%;
	max-width: 600px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottom{
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 100%;
	max-width: 600px;
	background: #FFF;
	height: 50px;
	-webkit-transform:  translateX(-50%);
    -moz-transform:  translateX(-50%);
    -o-transform:  translateX(-50%);
    -ms-transform:  translateX(-50%);
    transform:  translateX(-50%);
    border-top: 1px solid #E5E5E5;
    z-index: 1000;

}
.bottom .fixed-box li a{
	font-size: 12px;
	color: #383838;
	display: block;
}
.bottom .fixed-box li a.active,.bottom .fixed-box li a:active{
	color: #004B92;
}
.bottom .fixed-box li a span{
	display: block;
	height: 25px;
	margin-bottom: 0px;
	margin-top: 4px;
}


/**搜索**/
.search-box {
	position: relative;
}
.search-box input{
	font-size: 14px;
	text-align: left;
	border-radius: 4px;
	height: 32px !important;
	width: 82%;
	width: -moz-calc(100% - 52px);
	width: -webkit-calc(100% - 52px);
	width: calc(100% - 52px);
	background-color: #FFF;
	background-size: 20px;
	padding-left: 40px;
}


.sevrice-header.mui-bar-nav.mui-bar .mui-icon{
	margin-left: -14px;
}
.search-box.service-search input{
	width: 77%;
	width: -moz-calc(100% - 70px);
	width: -webkit-calc(100% - 70px);
	width: calc(100% - 70px);
	margin-left: 4px;
}
.search-box.service-search .service-search-input{
	width: 77%;
	width: -moz-calc(100% - 90px);
	width: -webkit-calc(100% - 90px);
	width: calc(100% - 90px);
	margin-left: 4px;
}
.search-box a{
	color: #FFF;
	font-size: 16px;
	margin-left: 8px;
	float: right;
	display: block;
	line-height: 44px;
}
.clear-input{
	position: absolute;
	right: 57px;
	top: 16px;
	z-index: 6;
	display: none;
}
.clear-input:before{
	content:"\e649";
	font-family: "iconfont";
	color: #004B92;
	font-size: 20px;
}

/****************筛选条件 css****************/
.choose-box{
	position: fixed;
	top: 44px;
	left: 50%;
	width: 100%;
	max-width: 600px;
	background: #FFF;
	border-bottom: 1px solid #E5E5E5;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) ;
    -o-transform: translateX(-50%) ;
    -ms-transform: translateX(-50%) ;
    transform: translateX(-50%);
    z-index: 8;
}

.choose-box  a{
	display: block;
	float: left;
	width: 50%;
	padding: 12px 0;
	color: #383838;
	font-size: 15px;
	text-align: center;
}
.choose-box a span{
	display: inline-block;
	vertical-align: middle;
	max-width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.choose-box  a i{
	font-style: inherit;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle;
	color: #d9d9d9;
	margin-top: 3px;
	transition:  all 0.5s ease-out 0s;
}
.choose-box  a.active i:before{
	content: "\e734";
	font-family:"iconfont";
}
.choose-box  a i:before{
	content: "\e708";
	font-family:"iconfont";
}
/**************弹窗 css*****************/
.coun-layer{
	position: absolute;
	left: 0;
	top: 88px;
	bottom: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 6;
	display: none;
}
.close-layer{
	position: absolute;
	top: -91px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 3;
}
.layer-body{
	position: absolute;
	top: 0px;
	left: 50%;
	width: 100%;
	max-width: 600px;
	background: #FFF;
	z-index: 7;
	height: 50%;
	border-top: 1px solid #D9D9D9;
	overflow: hidden;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%) ;
    -o-transform: translateX(-50%) ;
    -ms-transform: translateX(-50%) ;
    transform: translateX(-50%);

}
.address-layer .layer-body{
	overflow: auto;
}
.layer-body a{
	display: block;
	padding: 12px 5px;
	color: #666;
	font-size: 15px;
	margin-bottom: 1px;
	text-align: center;
}
.layer-body a.active,.layer-body a:active{
	color: #004B92;
	background: #f7f7f7;
}
.service-layer .layer-body{
	padding-left: 100px;
}
.service-layer-left{
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	border-right: 1px solid #d9d9d9;
	overflow: auto;
}
.service-layer-right{
	height: 100%;
	overflow: auto;
}
.service-layer-right a{
	padding:12px 13px;
}
.address-layer a{
	text-align: left;
	padding-left: 20px;
}

.search-layer{
	position: fixed;
	top: 44px;
	bottom: 0px;
	left: 50%;
	width: 100%;
	max-width: 600px;
	background: #FFF;
	z-index: 5;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 8;
    display: none;
}
.history-search-title{
	background: #f5f5f5;
	padding: 13px 13px;
	font-size: 16px;
	color: #666;
}
.history-search-list,.searching{
	padding: 0 13px;
}
.history-search-list li a{
	display: block;
	padding: 13px 0;
	font-size:15px ;
	border-bottom: 1px solid #c8c7cc;
	color: #383838;
}
.history-search-list li a:before{
	content: "\e620";
	font-family: "iconfont";
	font-size: 19px;
	color: #999;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}
.history-search button{
	display: block;
	margin: 25px auto;
	background: #FFF !important;
	color: #666 !important;
	font-size: 14px;
	line-height: inherit;
	padding:7px 12px 5px;
	border:1px solid #c8c7cc;
}
.searching li a{
	display: block;
	padding: 13px 0;
	font-size:15px ;
	border-bottom: 1px solid #c8c7cc;
	color: #383838;
}
.searching li a span{
	color: #FA4F4F;
}
.no-search {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
	text-align: center;
	-webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}

.no-search img {
	display: inline-block;
	width: 30%;
	-webkit-animation: move_lr  2s linear infinite;
	-moz-animation: move_lr  2s linear infinite;
	-ms-animation: move_lr 2s linear infinite;
	animation: move_lr 2s linear infinite;
	margin-left: 3px;
	max-width: 200px;
}

.no-search p{
	font-size: 14px;
	padding: 20px 0;
}
.no-search a{
	display: inline-block;
	height: 25px;line-height: 25px;
	border-radius: 25px;
	color: #fff;
	background-color: #ff7f00;
	width: 25%;

}

/**城市选择**/

.city-box{
	padding: 15px 13px;
	font-size: 0;
}
.citys-box {
	padding-top: 5px;
}
.city-box p{
	font-size: 15px;
	color: #666;
	margin-bottom: 10px;
	padding-left: 10px;
}
.city-box{
	margin-left: -10px;
}
.city-box a{
	display: block;
	float: left;
	font-size: 14px;
	color: #383838;
	background: #f0f0f0;
	padding: 7px 25px;
	border-radius: 3px;
	margin-bottom: 10px;
	margin-left: 10px;
}
.city-box a.active,.city-box a:active{
	background: #004B92;
	color: #FFF;
}

.service-pop{
	background: #fff;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.service-pop-title {
	padding: 15px 0;
	height: auto !important;
	width: 700px;
}
.service-pop-title a{
	display: block;
	float: left;
	padding: 0 15px;
	border-right: 1px solid #e6e6e6;
	color: #383838;
	box-sizing: border-box;
	font-size: 15px;
	position: relative;
}
.service-pop-title a.active{
	color: #004B92;
}
.service-pop-title a.active:after{
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: -15px;
	height: 2px;
	background: #004B92;
}

.service-pop-title .swiper-slide:last-child a{
	border: 0px;
}
.service-pop-body{
	/*padding: 0 15px;*/
	background: #FFF;
	max-height: 197px;
	overflow: auto !important;
}
.service-pop-body li{
	font-size: 14px;
	position: relative;
	background-color: #fafafa;
	overflow: hidden;
	border: 1px solid #fafafa;
	color: #666;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 8px;
}
.service-pop-body li.active{
	border-color: #3fbff0;
}
.service-pop-body li .left-txt{
	float: left;
}
.service-pop-body li .right-mon{
	float: right;
	color: #fa4f4f;
}
.service-pop-body li i{
	font-family: iconfont;
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	/* display: block; */
	z-index: 1;
	font-size: 12px;
	display: none;
}
.service-pop-body li.active i{
	display: block;
}
.service-pop-body li.active:after{
	content: '';
	position: absolute;
	top: -7px;
	right: -21px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 25px solid #3fbff0;
	transform: rotate(50deg);
}
.service-pop-body ul{
	padding: 10px;
}
.service-pop-btn{
	background: #f2f2f7;
	padding: 15px;
}
.service-pop-btn .btn-box{
	border: 1px solid #e6e6e6;
	border-radius: 50px;
	background: #FFF;
	overflow: hidden;
}
.service-pop-btn .btn-box a{
	display: block;
	float: left;
	width: 50%;
	box-sizing: border-box;
	border-right: 1px solid #e6e6e6;
	text-align: center;
	color: #666;
	padding: 10px 0;
	font-size: 15px;
	overflow: auto;
}
.service-pop-btn a:active{
	opacity: 0.8  !important;
	background: rgba(0,0,0,0.05);
}
.service-pop-btn .btn-box a:last-child{
	color: #FA4F4F;
	border: 0px;
}


/**dmk**/
/*后台本文框样式*/
.serviceDeaile{
	padding:20px 10px;
	background: #FFF;
}
.serviceDeaile img{
	width: 100% !important;
	height: auto!important;
}
.serviceDeaile .title-box{
	font-size: 16px;
	font-weight: 500;
}
.serviceDeaile .title-box p{
	color:#666;
	text-align: justify;
	margin: 5px 0 ;

}
.serviceDeaile table{
	width: 100% !important;
	height: auto !important;
	border: 1px solid #d9d9d9;
	border-bottom: 0px;
	min-width: inherit !important;
}
.serviceDeaile table tr th{
	width: 28%;
	padding: 10px 0;
	font-weight: 500;
	font-size: 15px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.serviceDeaile table tr td{
	color: #666;
	font-size: 14px;
	line-height: 20px;
	text-align: justify;
	padding: 5px 10px;
	border-bottom: 1px solid #d9d9d9;
}
.serviceDeaile table tr td *{
	color: #666;
	font-size: 14px;
	padding: 0px;
	margin: 5px 0 5px;
}
.serviceDeaile table tr td p{
	color: #666;
	text-align: justify;
	margin-bottom: 5px;
}
.serviceDeaile .title-box{
	margin-top:13px !important;
}
.serviceDeaile .flow-box{
	margin:10px 0px !important;
	border:0px !important;
}
.serviceDeaile .flow-box p{
	color: #666;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
}
.serviceDeaile .flow-box p label{
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 30px;
	background: url(http://7xrgpz.com2.z0.glb.clouddn.com/UEupload_5816936450990906.png) repeat;
	color: #004b92;
	margin-right: 5px;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	background-size: 100%;
	font-weight: bold;
}
.serviceDeaile>p{
	margin:0px !important;
	width:100% !important;
	line-height:20px !important;
	text-indent:0px !important;
	text-align:left !important;
}
/***/

/*2017 02 11 xl add 找顾问*/
.classify-body-more{
	padding-bottom: 10px;
	color: #333;
	position: relative;
}
.classify-body-more a{
	float: right;
	color: #333;
}
.classify-body-more a:after{
	color: #d2d2d2;
	font-family: Muiicons;
	content: '\e583';
	font-size: 20px;
}

.price-pop.active{
	top:0px;
}
.price-pop.active .popover-title{
	padding-top: 30px;
}
.price-pop.active1{
	position: absolute;
	top:0px;
	bottom:0px;
}
.md{display: inline-block;vertical-align: middle;height: 100%;}

.iframe-box{
	position: fixed;
	top: 44px;
	bottom: 0px;
	left: 0px;
	right: 0;
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
}
.iosHeader~.iframe-box{
	top:62px;
}
.iframe{
	width: 100%;
	border: 0px;
	height: 100%;
}
.iframe::-webkit-scrollbar{
    width: 0px;
}
